sqlite3:
  adapter: sqlite3
  database: ':memory:'

mysql:
  adapter: mysql2
  host: localhost
  username: root
  password:
  database: make_taggable
  charset: utf8
  
postgresql:
  adapter: postgresql
  hostname: localhost
  username: postgres
  password:
  database: make_taggable
  encoding: utf8
